@page "/time-entry"
@page "/time-entry/{id:int}"
@using Mapster

@inject ITimeEntryService TimeEntryService;
@inject IProjectService ProjectService;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JSRuntime;
@implements IDisposable

<h3>@_title</h3>

@* // MudBlazor, Syncfusion, Telerik, DevExpress, or any other UI library can be used to create a form. *@
<EditForm Model="_timeEntry" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <div>
        <label for="startDate">Start</label>
        <InputDate @bind-Value="_timeEntry.Start" Type="InputDateType.DateTimeLocal" id="startDate" class="form-control"/>
    </div>
    <div>
        <label for="endDate">End</label>
        <InputDate @bind-Value="_timeEntry.End" Type="InputDateType.DateTimeLocal" id="endDate" class="form-control"/>
    </div>
    <div>
        <label for="projectId">Project</label>
        <InputSelect id="projectId" @bind-Value="_timeEntry.ProjectId" class="form-control">
            @foreach (var project in ProjectService.Projects)
            {
                <option value="@project.Id">@project.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="() => _timeEntry.ProjectId" />
    </div>
    @if (Id.HasValue)
    {
        <button type="button" class="btn btn-danger mt-4 mr-4" @onclick="DeleteTimeEntry">Delete</button>
    }
    <button type="submit" class="btn btn-primary mt-4">Save</button>
    @* <ValidationSummary /> *@
</EditForm>

@code {

    [Parameter] public int? Id { get; set; }

    private string _title = "Create a new time entry";
    private TimeEntryRequest _timeEntry = new();

    protected override void OnInitialized()
    {
        ProjectService.StateChanged += OnStateChanged;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id is not null)
        {
            var result = await TimeEntryService.GetTimeEntryByIdAsync(Id.Value);
            _timeEntry = result.Adapt<TimeEntryRequest>();
            _title = "Edit time entry";
        }
    }

    private async Task Submit()
    {
        if (Id is not null)
        {
            await TimeEntryService.UpdateTimeEntry(Id.Value, _timeEntry);
            NavigationManager.NavigateTo("/time-entries");
        }
        else
        {
            await TimeEntryService.CreateTimeEntry(_timeEntry);
            NavigationManager.NavigateTo("/time-entries");
        }
    }

    public void Dispose()
    {
        ProjectService.StateChanged -= OnStateChanged;
    }

    private void OnStateChanged() => StateHasChanged();

    private async Task DeleteTimeEntry()
    {
        if (Id.HasValue)
        {
            var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure?");

            if (confirmed)
            {
                await TimeEntryService.DeleteAsync(Id.Value);
                NavigationManager.NavigateTo("/time-entries");
            }
        }
    }
}
