@page "/"
@inject IToastService ToastService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="OnButtonClick" class="btn btn-primary">TEST</button>

Welcome to your new app.

@code
{
    private void OnButtonClick()
    {
        ToastService.ShowSuccess("TEST");
    }
}
