@page "/login"
@using TimeTracker.Shared.Models.Login

@inject IAuthService AuthService

<h3>Login</h3>

<EditForm Model="_loginRequest" OnValidSubmit="HandleSubmit">
    <div>
        <MyInputText Label="Name" Id="name" @bind-Value="_loginRequest.UserName" ValidationFor="() => _loginRequest.UserName" />
        <MyInputText Label="Password" Id="password" @bind-Value="_loginRequest.Password" ValidationFor="() => _loginRequest.Password" Type="password" />
    </div>

    <button type="submit" class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700 mt-3">Log in</button>

    <DataAnnotationsValidator />
</EditForm>

@code {
    LoginRequest _loginRequest = new LoginRequest();

    private async Task HandleSubmit()
    {
        await AuthService.Login(_loginRequest);
    }

}
