@page "/login"
@using TimeTracker.Shared.Models.Login

@inject IAuthService AuthService

<div class="lg:px-80">

    <h3>Login</h3>

    <EditForm Model="_loginRequest" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <MyInputText Label="Name" Id="name" @bind-Value="_loginRequest.UserName" ValidationFor="() => _loginRequest.UserName" />
        <MyInputText Label="Password" Id="password" @bind-Value="_loginRequest.Password" ValidationFor="() => _loginRequest.Password" Type="password" />
        <MyButton Type="submit" Text="Log in" AddMarginTop="true" />

    </EditForm>

</div>

@if (_loginFailed)
{
    <div>
        <span class="text-xs text-red-600 font-bold my-1">@_errorMessage</span>
    </div>
}

@code {
    LoginRequest _loginRequest = new LoginRequest();
    private bool _loginFailed;
    private string _errorMessage = string.Empty;

    private async Task HandleSubmit()
    {
        _loginFailed = false;

        var response = await AuthService.Login(_loginRequest);

        if (!response.IsSuccess && response.Error != null)
        {
            _loginFailed = true;
            _errorMessage = response.Error;
        }
        else if (!response.IsSuccess)
        {
            _loginFailed = true;
            _errorMessage = "An error occurred while trying to log in.";
        }
    }
}
