@page "/projects"

@inject IProjectService ProjectService
@inject NavigationManager NavigationManager

@implements IDisposable
@attribute [Authorize(Roles = "Admin")]

<h1>Projects</h1>

<MyButton AddMarginTop="true" Text="Create project" OnClick="CreateProject" />

<div>
    <QuickGrid Items="ProjectService.Projects.AsQueryable()" Pagination="@_paginationState">
        <PropertyColumn Property="arg => arg.Name" />
        <PropertyColumn Property="arg => arg.StartDate" Format="dd.MM.yyyy" Title="Start" />
        <PropertyColumn Property="arg => arg.EndDate" Format="dd.MM.yyyy" Title="End" />
        <PropertyColumn Property="arg => arg.TimeEntryCount" Title="Time entries" />
        <TemplateColumn>
            <button class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700" @onclick="() => EditProject(context.Id)">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                </svg>
            </button>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="_paginationState" />
</div>

@code {

    private readonly PaginationState _paginationState = new PaginationState()
        {
            ItemsPerPage = 10
        };

    protected override async Task OnInitializedAsync()
    {
        ProjectService.StateChanged += OnStateChanged;
        await ProjectService.LoadAllProjectsAsync();
    }

    private void OnStateChanged() => StateHasChanged();

    public void Dispose()
    {
        ProjectService.StateChanged -= OnStateChanged;
    }

    private void EditProject(int projectId)
    {
        NavigationManager.NavigateTo($"/project/{projectId}");
    }

    private void CreateProject()
    {
        NavigationManager.NavigateTo($"/project");
    }
}


