@page "/time-entries"
@inject ITimeEntryService TimeEntryService
@inject NavigationManager NavigationManager
@implements IDisposable

<PageTitle>Time entries</PageTitle>
<h1>Time entries</h1>

<button class="btn btn-primary mb-2" @onclick="CreateTimeEntry">Create time entry</button>

<div>
    <QuickGrid Items="FilteredTimeEntries" Pagination="@_paginationState">
        <PropertyColumn Property="arg => arg.Start" />
        <PropertyColumn Property="arg => arg.End" />
        <PropertyColumn Property="arg => GetDuration(arg.Start, arg.End)" Title="Duration" />
        <PropertyColumn Property="arg => arg.Project.Name" Title="Project">
            <ColumnOptions>
                <div>
                    <input type="search" autofocus @bind="_projectFilter" @bind:event="oninput" placeholder="Project name..." />
                </div>
            </ColumnOptions>
        </PropertyColumn>
        <TemplateColumn>
            <button class="btn btn-primary" @onclick="() => ShowProject(context.Project.Id)">Show project</button>
        </TemplateColumn>
        <TemplateColumn>
            <button class="btn btn-primary" @onclick="() => EditTimeEntry(context.Id)">
                <i class="bi bi-pencil"></i>
            </button>
        </TemplateColumn>
    </QuickGrid>

    <Paginator State="_paginationState" />
</div>

<ProjectDetails ProjectId="@_projectId" />

@code {
    private int _projectId;
    private string? _projectFilter;

    private readonly PaginationState _paginationState = new PaginationState()
        {
            ItemsPerPage = 10
        };

    IQueryable<TimeEntryResponse> FilteredTimeEntries =>
        TimeEntryService.TimeEntries.Where(x => _projectFilter == null || x.Project.Name.Contains(_projectFilter, StringComparison.CurrentCultureIgnoreCase)).AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        await TimeEntryService.GetTimeEntriesByProject(_projectId);
        TimeEntryService.StateChanged += OnStateChanged;
    }

    private void OnStateChanged()
    {
        StateHasChanged();
        ShowProject(default);
    }

    private void ShowProject(int projectId)
    {
        if (_projectId == projectId)
            return;

        _projectId = projectId;
        StateHasChanged();
    }

    private string GetDuration(DateTime startDate, DateTime? endDate)
    {
        if (!endDate.HasValue)
            return string.Empty;

        var duration = endDate.Value - startDate;
        var result = $"{duration.Hours}h {duration.Minutes}min";

        return result;
    }


    public void Dispose()
    {
        TimeEntryService.StateChanged -= OnStateChanged;
    }

    private void CreateTimeEntry()
    {
        NavigationManager.NavigateTo("time-entry");
    }

    private void EditTimeEntry(int id)
    {
        NavigationManager.NavigateTo($"time-entry/{id}");
    }
}
